@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0px auto;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color-blue: #377DFF;
    --secondary-color-green: #38CB89;
    --secondary-color-orange: #FFAB00;
    --secondary-color-red: #FF5630;
    --neutral-color-07: #141718;
    --neutral-color-06: #232627;
    --neutral-color-05: #343839;
    --neutral-color-04: #6C7275;
    --neutral-color-03: #E8ECEF;
    --neutral-color-02: #F3F5F7;
    --neutral-color-01: #FEFEFE;
    --font-roboto: "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;
}

body {
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    width: 100%;
}

.notification-bar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: calc(100% - 1200px);
    background: var(--neutral-color-02);
}

.notification-bar .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #343839;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.notification-bar .content .shop-now {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--secondary-color-blue);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

header .header {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    padding: 16px 160px;
    justify-content: space-between;
    align-items: center;
}

.header .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header .nav ul a {
    color: var(--neutral-color-07);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.header .items-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header .items-icon i {
    font-size: 24px;
}
/*contact*/
.contact{
    width: 80%;
    margin-top: 4%;
}
.contact .contact-title{
    margin-left: 10%;
    margin-bottom: 5%;
}
.contact .contact-title h1{
    font-weight: 500;
    font-size: 54px;
}
.contact .contact-title p{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: #141718;
    padding-top: 20px;
}
.contact-product{
    display: flex;
    height: 413px;
    margin-left: 2%;
    margin-bottom: 5%;
}
.contact-product .img{
    width: 50%;
}
.contact-product .img img{
    width: 100%;
    height: 413px;
}
.contact-product .content {
    width: 50%;
    background: #F3F5F7;
}
.contact-product .content h1{
    font-weight: 500;
    font-size: 40px;
    padding-left: 10%;
    padding-top: 15%;
}
.contact-product .content p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #141718;
    font-size: 16px;
    padding-top: 3%;
    padding-left: 10%;
}
.contact-product .content .text{
    padding-left: 10%;
    padding-top: 5%;

}
.contact-product .content .text span{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 16px;
}
.contact-product .content .text a{
    color: #141718;
}
.contact-product .content .text span::after{
    content: '';
    display: block;
    width: 6.8%;
    height: 1px;
    background-color: black; 
    position: absolute;
    left: 54.6%;
}
.contact-product .content .text img{
    width: 17px;
    display: inline-block; 
    margin-left: 2px; 
    vertical-align: middle;
}
.contact-us{
   margin-bottom: 5%;
}
.contact-us h1{
   text-align: center;
   font-weight: 500;
   font-size: 40px;
}
.contact-us .content{
    display: flex;
    margin-left: 2%;
    margin-top: 5%;
}
.contact-us .content .contact-us-content{
    width: 32%;
    background: #F3F5F7;
    height: 156px;
    gap: 16px;
    text-align: center;
}
.contact-us .content .contact-us-content img{
    width: 32px;
    height: 32px;
    margin-top: 5%;
}
.contact-us .content .contact-us-content h5{
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 16px;
    color: #6C7275;
    margin-top: 3%;
    margin-bottom: 5%;
}
.contact-us .content .contact-us-content span{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 16px;
}
.contact-form{
    display: flex;
    margin-left: 3%;
    margin-bottom: 5%;
}
.contact-form .form {
    width: 48%;
}
.contact-form .form form label{
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 12px;
    color: #6C7275;
    margin-bottom: 20px;
}
.contact-form .form form .i1{
    width: 544px;
    height: 40px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: #6C7275;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0px, 16px, 0px, 16px;
    padding-left: 20px;
    gap: 8px;
    
}
.contact-form .form form textarea{
    width: 544px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: #6C7275;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0px, 16px, 0px, 16px;
    padding-top: 30px;
    padding-left: 20px;
    gap: 8px;
}
.contact-form .form form .i2{
    width: 189px;
    height: 40px;
    color: #E8ECEF;
    background: #141718;
    border-radius: 8px;
    padding: 6px, 40px, 6px, 40px;
    gap: 8px;
}
.contact-form .map{
    width: 48%;
}
/* footer */
footer {
    background: var(--neutral-color-07);
    font-family: "Inter", sans-serif;
    display: flex;
    padding: 80px 160px 32px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.footer-contents,
.content-1,
.footer-contents .content-2 .nav ul {
    display: flex;
}

.footer-contents {
    width: 1120px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
}

.footer-contents .content-1 {
    display: flex;
    width: 544px;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

.footer-contents,
.footer-contents a {
    color: var(--neutral-color-01);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.footer-contents .content-2 .nav ul {
    gap: 40px;
}

.footer-btnbar,
.footer-btnbar a {
    color: var(--neutral-color-01);
}

.footer-btnbar {
    display: flex;
    justify-content: space-between;
    width: 1118px;
    margin: 0 auto;
    border-top: 0.5px solid var(--neutral-color-01);
    padding: 16px 0;
}

.footer-btnbar .copyright {
    display: flex;
    gap: 28px;
    font-size: 12px;
}

.footer-btnbar .copyright a {
    font-size: 14px;
}

.footer-btnbar .social-icon {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

